/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
@font-face {
    font-family: 'UbuntuBold';
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'UbuntuMedium';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: 'UbuntuRegular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
body {
    font-family: UbuntuRegular, "times new roman", times, roman, serif;
   
  

}
.frame {
    display: flex;  
    height: 300px;
}


.sidebar {
    border-radius: 3px;
    background-color: #4A40FB;
    width: 500px;
}

ol{
    counter-reset: myCounter;
  }
  
  .bar{
    list-style: none;

  }
  
  .bar:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    
    display: inline-block;
    text-align: center;
    margin: 5px 5px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
  .bar:hover{
    background-color:hsl(206, 94%, 87%);
  }

  .step:hover {
      background-color:#4A40FB;
  }
