/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
@font-face {
    font-family: 'UbuntuBold';
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'UbuntuMedium';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: 'UbuntuRegular';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
body {
    font-family: UbuntuRegular, "times new roman", times, roman, serif;
    background-color:hsl(231, 100%, 99%);
    font-size: 12px;
}
.frame {
    display: flex;
    gap: 20px;
    background-color:hsl(0, 0%, 100%);;
    display: flex;  
    width: 75vw;
    height: 400px;
    margin-top:10%;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;

}


.sidebar {

    display: flex;
    border-radius: 10px;
    background-color: #4A40FB;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
   
}

ol{
    counter-reset: myCounter;
    padding-left: 10px;
    width: 200px;
  }
  
  .bar{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-items: center;

  }
  .liContainer{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .bar::before {
    counter-increment: myCounter;
    content:counter(myCounter);
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 5px 5px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    margin: 10px;
    

  }

  .bar:hover::before{
    background-color:hsl(206, 94%, 87%);
  }

  h5{
      font-family: UbuntuMedium;
      color: white;     
      margin: 0px;
  }
.step {
    font-size: 10px;
    font-weight: 100;
    color: hsl(229, 24%, 87%);
    margin: 2px;
}

.wrap{
border: 20px solid red;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.step1 {
    display: flex;
    flex-direction: column;
  height: 300px;
    /* block-size: fit-content; */
    
}
h1{
    font-family: UbuntuBold;
    color: hsl(213, 96%, 18%);
    margin-bottom: 5px;
    
}
h4{
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    margin-top: 0px;
}
.form1{
    color: hsl(213, 96%, 18%);
    display: flex;
    flex-direction: column;
    /* height: 100px; */
    }

    label{
        font-size: 12px;
        padding:2px 0px 2px 0px;
    }
    input {
        padding:10px;
        margin: 4px 0px 15px 0px;
        border: 1px solid hsl(229, 24%, 87%);
        border-radius: 4px;
    }

    input:focus { 
        outline: none !important;
        border-color: hsl(243, 100%, 62%);
     }

     input:invalid { 
        border-color:hsl(354, 84%, 57%)

     }

     input[type=submit] {
         background-color:hsl(213, 96%, 18%);
         color: white;
         align-self: flex-end;
         width: 100px;
         cursor: pointer;
         position: relative;
     top: 2px;
     }

     .buttons {
        position: relative;
        top: 10px;
        align-self:flex-end;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
     .nextStep, .goBack {
        padding: 10px;
        margin: 4px 0px 15px 0px;
        background-color:hsl(213, 96%, 18%);
        color: white;
        border-radius: 4px;
        width: 100px;
        border: none;
        font-weight: bold;
        cursor: pointer;
}

.goBack {
    background-color:transparent;
    color: hsl(231, 11%, 63%);
}
     .menuStep2 {
         
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         padding-left: 0px;
     }
     .arcade::before {
        content: url(./assets/images/icon-arcade.svg);
     }

     .advanced::before {
        content: url(./assets/images/icon-advanced.svg);
     }

     .pro::before {
        content: url(./assets/images/icon-pro.svg);
     }

     .arcade, .advanced, .pro {
        color: hsl(213, 96%, 18%);
        width: 100px;
        padding: 5px;
        margin: 2px;
        border: 1px solid hsl(231, 11%, 63%);
        border-radius: 8px;
     }

     .montORyear {
        padding: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(231, 11%, 63%);
        background-color: hsl(229, 24%, 87%);
        box-sizing: border-box;
     }

     .toggle {
        background: none;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .span1{
         display: block;
         position: relative;
         height: 18px;
         width: 36px;
         margin: 0px 15px 0px 15px;
     }

     .backdrop {
         position: absolute;
         width: 100%;
         height: 18px;
         background: hsl(213, 96%, 18%);
         border-radius: 10px;
     }

     .ball {
         width: 12px;
         height: 12px;
         border-radius: 50%;
         position: absolute;
         background-color: white;
         border: 3px solid hsl(213, 96%, 18%);
         /* left:20px; */
     }

     .step3menu {
         display: flex;
         flex-direction: column;
         height: 200px;
         block-size: fit-content;
     }

     .option {
         border: 1px solid hsl(243, 100%, 62%);
         border-radius: 4px;
         margin: 5px;
         display: flex;
         align-items: baseline;
         justify-content: space-around;
         height: 45px;
         padding: 1px;
         
     }
     .optionName {
    font-size: 14px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 55%;
       height: 20px;
       box-sizing: fit-content;
       color:hsl(231, 11%, 63%) ;
     }

     h3 {
         color: hsl(213, 96%, 18%);
        font-size: 14px;
        margin-bottom: 4px; 
        
     }
     input[type="checkbox"]:checked {
        background-color: hsl(243, 100%, 62%);
      }
      